In [ ]:
CREATE USER brian WITH PASSWORD 'spykids5' SUPERUSER;
CREATE DATABASE brian;
SET ROLE brian;

In [18]:
--connection:postgresql://brian:spykids@localhost:5432

In [52]:
--autocommit:true

commited current transaction & switched autocommit mode to True

In [36]:
create database spykids;

database "spykids" already exists

In [37]:
grant all privileges on database spykids to brian;

In [38]:
select current_database();

current_database
------------------
brian

In [45]:
--connection:postgresql://brian:spykids@localhost:5432/spykids

In [52]:
--autocommit:true

commited current transaction & switched autocommit mode to True

In [53]:
create table bestmovie(name varchar(6));
select * from bestmovie;

name
------

In [ ]:
insert into bestmovie values ('spykids!!!!!!!!!!!');

In [55]:
alter table bestmovie alter column name type varchar(50);

In [56]:
insert into bestmovie values ('spykids!');

In [57]:
select * from bestmovie;

name
--------
spykids!